.duplicate-custom-head {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 6px;
    padding: 6px 8px;
    background: var(--material-toolbar);
    border-bottom: var(--material-panedivider);
}

.duplicate-custom-head button {
    height: 28px;
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
}

.duplicate-custom-head:empty {
    display: none;
}
